<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="jumbotron">
      <h1 class="text-primary pb-4">Ingrese datos</h1>
      <form action="/" method="POST" class="d-flex flex-column">
        <label>Nombre</label>
        <input type="text" name="title" placeholder="Ingrese el nombre" >
        <label>Precio</label>
        <input type="number" name="price" placeholder="Ingrese el precio" >
        <label>Foto URL</label>
        <input type="text" name="thumbnail" placeholder="Ingrese la URL" >
        <input type="submit" value="Enviar" class="btn btn-success mt-2 " >
      </form>
    </div>
    
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
</html>